@import "Forms.css";


#root {
  margin: 20px 0;
  padding: 20px;
  border: 5px solid #6b1441;
  text-align: center;
}

table {
  margin: 0 auto;
  margin: 5px 0;
}
table,th,td {
  margin: 0 auto;
  border: 1px solid;
  font-size: 1.1em;           
  font-weight: bold;
}
th,td {
  text-align: left;
  padding: 0 5px;
}
tr:nth-child(even){
  background-color: #ccc;    
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav button {
  cursor: pointer;
  margin: 1em;
}

@media screen and (min-width: 800px){
  nav {
     flex-direction: row;
  }
}



