#root {
  margin: 20px 0;
  padding: 20px;
  border: 5px solid aquamarine;
  text-align: center;
}

table {
  margin: 0 auto;
  margin: 5px 0;
}
table,th,td {
  margin: 0 auto;
  border: 1px solid;
  font-size: 1.1em;           
  font-weight: bold;
}
th,td {
  text-align: left;
  padding: 0 5px;
}
tr:nth-child(even){
  background-color: #ccc;    
}
form label {
  margin: 5px auto;
  display: block;
}
input,select {
  margin: 0 auto;
  display: block;     
}
form button {
  margin-top: 20px;
}
select {
  margin-top: 10px;
}

#Heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Heading button {
  margin: 0 2em;
}